{# original CQL begins -#}
/*
define "SDE Ethnicity":
  ["Patient Characteristic Ethnicity": "Ethnicity"]
*/

{# original CQL Ends #}
{%- from "custom_overrides/InitCustomOverrides.sql" import initEnvironmentWithCustomOverrides %}
{%- from "generated_intermediate/DischargedonAntithromboticTherapy_12__0__000.j2" import DischargedonAntithromboticTherapySDE_Ethnicity %}

{%- set environment = namespace() %}
{%- do initEnvironmentWithCustomOverrides(environment) -%}

{{ DischargedonAntithromboticTherapySDE_Ethnicity(environment, none) }}