{# original CQL begins -#}
/*
context Patient
*/

{# original CQL Ends #}
{%- from "custom_overrides/InitCustomOverrides.sql" import initEnvironmentWithCustomOverrides %}
{%- from "generated_intermediate/MATGlobalCommonFunctionsQDM_8__0__000.j2" import MATGlobalCommonFunctionsQDMPatient %}

{%- set environment = namespace() %}
{%- do initEnvironmentWithCustomOverrides(environment) -%}

{{ MATGlobalCommonFunctionsQDMPatient(environment, none) }}