{# original CQL begins -#}
/*
define "SDE Payer":
  ["Patient Characteristic Payer": "Payer Type"]
*/

{# original CQL Ends #}
{%- from "custom_overrides/InitCustomOverrides.sql" import initEnvironmentWithCustomOverrides %}
{%- from "generated_intermediate/SafeUseofOpioidsConcurrentPrescribing_7__0__000.j2" import SafeUseofOpioidsConcurrentPrescribingSDE_Payer %}

{%- set environment = namespace() %}
{%- do initEnvironmentWithCustomOverrides(environment) -%}

{{ SafeUseofOpioidsConcurrentPrescribingSDE_Payer(environment, none) }}