{# original CQL begins -#}
/*
define "SDE Ethnicity":
  ["Patient Characteristic Ethnicity": "Ethnicity"]
*/

{# original CQL Ends #}
{%- from "custom_overrides/InitCustomOverrides.sql" import initEnvironmentWithCustomOverrides %}
{%- from "generated_intermediate/SafeUseofOpioidsConcurrentPrescribing_7__0__000.j2" import SafeUseofOpioidsConcurrentPrescribingSDE_Ethnicity %}

{%- set environment = namespace() %}
{%- do initEnvironmentWithCustomOverrides(environment) -%}

{{ SafeUseofOpioidsConcurrentPrescribingSDE_Ethnicity(environment, none) }}