{%- from "library/operators/FunctionRefStaticVariable.sql" import FunctionRefPrint %}
{%- from "jinja_only/test/utilities/testPrint.j2" import testPrint %}
{%- set testOperatorHandler = namespace(print=testPrint) %}
{%- set environment = namespace(OperatorHandler=testOperatorHandler) %}
{%- set this = 'this' %}
{%- set state = namespace(functionArguments = {}) %}
{%- set arguments = namespace(children = [{'testValue' : 'foo'}], referenceTo={'referenceName' : 'testFunction', 'arguments' : [{'name' : 'bar'}]}) %}
==== PRIOR STATE ====

environment: [{{ environment }}]

this: [{{ this }}]

state: [{{ state }}]

arguments: [{{ arguments }}]

==== FUNCTION CALL ====

{{ FunctionRefPrint(environment, this, state, arguments) }}

==== POST-CALL STATE ====

environment: [{{ environment }}]

this: [{{ this }}]

state: [{{ state }}]

arguments: [{{ arguments }}]