{%- from "library/operators/OperandRefStaticVariable.sql" import OperandRefPrint %}
{%- from "jinja_only/test/utilities/testPrint.j2" import testPrint %}
{%- set testOperatorHandler = namespace(print=testPrint) %}
{%- set environment = namespace(OperatorHandler=testOperatorHandler) %}
{%- set this = 'this' %}
{%- set state = namespace(functionArguments={'testName':{'name':'testValue'}}) %}
{%- set arguments = namespace(referenceTo = {'referenceName' : 'testName'}) %}
==== PRIOR STATE ====

environment: [{{ environment }}]

this: [{{ this }}]

state: [{{ state }}]

arguments: [{{ arguments }}]

==== FUNCTION CALL ====

{{ OperandRefPrint(environment, this, state, arguments) }}

==== POST-CALL STATE ====

environment: [{{ environment }}]

this: [{{ this }}]

state: [{{ state }}]

arguments: [{{ arguments }}]