{# original CQL begins -#}
/*
context Patient
*/

{# original CQL Ends #}
{%- from "custom_overrides/InitCustomOverrides.sql" import initEnvironmentWithCustomOverrides %}
{%- from "generated_intermediate/MATGlobalCommonFunctions_7__0__000.j2" import MATGlobalCommonFunctionsPatient %}

{%- set environment = namespace() %}
{%- do initEnvironmentWithCustomOverrides(environment) -%}

{{ MATGlobalCommonFunctionsPatient(environment, none) }}