{%- from "library/operators/FunctionDefStaticVariable.sql" import FunctionDefPrint %}
{%- from "test/utilities/testPrint.j2" import testPrint %}
{%- set testOperatorHandler = namespace(print=testPrint) %}
{%- set environment = namespace(OperatorHandler=testOperatorHandler) %}
{%- set this = 'this' %}
{%- set state = namespace(functionArguments = {}) %}
{%- set arguments = namespace(child = {}) %}
==== PRIOR STATE ====

environment: [{{ environment }}]

this: [{{ this }}]

state: [{{ state }}]

arguments: [{{ arguments }}]

==== FUNCTION CALL ====

{{ FunctionDefPrint(environment, this, state, arguments) }}

==== POST-CALL STATE ====

environment: [{{ environment }}]

this: [{{ this }}]

state: [{{ state }}]

arguments: [{{ arguments }}]