{%- from "library/operators/OperandRefStaticVariable.sql" import OperandRefPrint %}
{%- macro testPrint() %}
\\\ testPrint
{% for arg in varargs %}
    {{ arg }}
{% endfor %}
\\\ end testPrint
{% endmacro %}
{%- set testOperatorHandler = namespace(print=testPrint) %}
{%- set environment = namespace(OperatorHandler=testOperatorHandler) %}
{%- set this = 'this' %}
{%- set state = namespace() %}
{%- set arguments = namespace(referenceTo = {'name' : 'testName'}) %}
==== PRIOR STATE ====

environment: [{{ environment }}]

this: [{{ this }}]

state: [{{ state }}]

arguments: [{{ arguments }}]

==== FUNCTION CALL ====

{{ OperandRefPrint(environment, this, state, arguments) }}

==== POST-CALL STATE ====

environment: [{{ environment }}]

this: [{{ this }}]

state: [{{ state }}]

arguments: [{{ arguments }}]