{%- from "library/operators/OperandDefStaticVariable.sql" import OperandDefPrint %}
{%- from "test/utilities/testPrint.j2" import testPrint %}
{%- set testOperatorHandler = namespace(print=testPrint) %}
{%- set environment = namespace(OperatorHandler=testOperatorHandler) %}
{%- set this = 'this' %}
{%- set state = namespace() %}
{%- set arguments = namespace(name='testName') %}
==== PRIOR STATE ====

environment: [{{ environment }}]

this: [{{ this }}]

state: [{{ state }}]

arguments: [{{ arguments }}]

==== FUNCTION CALL ====

{{ OperandDefPrint(environment, this, state, arguments) }}

==== POST-CALL STATE ====

environment: [{{ environment }}]

this: [{{ this }}]

state: [{{ state }}]

arguments: [{{ arguments }}]