{% import '_macros_sparksql' as _macros_sparksql %}

{# To be set in macros file: #}
{% set LiteralType = 'SIMPLE' %}

{% macro coerce(originalType, targetType, context, expression) %}
    {% if targetType == 'ENCAPSULATED' %}
        {% if originalType == 'SIMPLE' %}
            {{ _macros_sparksql.Encapsulate(expression) }}
        {% elif originalType == 'TABLE' %}
            {{ _macros_sparksql.Collect(context, expression) }}
        {% else %}
            {{ expression }}
        {% endif %}
    {% elif targetType == 'TABLE' %}
        {% if originalType == 'ENCAPSULATED' %}
            {{ _macros_sparksql.Decollect(context, expression) }}
        {% else %}
            {{ expression }}
        {% endif %}
    {% else %}
        {{ expression }}
    {% endif %}
{% endmacro %}

{% macro expressionDef(state, context, expression, expressionResultType) %}
    {% if (state == none) or (state.coercionDict == none) %}
        {{ expression }}
    {% else %}
        {{ coerce(expressionResultType, state.coercionDict.get(expressionResultType), context, expression) }}
    {% endif %}
{% endmacro %}

{# To be put in library file #}

{% macro testExpr(state, context) %}
    {{ expressionDef(state, context, _macros_sparksql.Literal('Integer', 1), LiteralType) }}
{% endmacro %}

{# testing #}
{% set state = namespace() %}
{# 1 #}
{% set state.coercionDict = none %}
{{ testExpr(state, none )}}

{# SELECT 1 _val #}
{% set state.coercionDict = {'SIMPLE':'ENCAPSULATED', 'TABLE':'ENCAPSULATED'} %}
{{ testExpr(state, none )}}