{#
    Types of Data: (DataType enum)

        Definite: (if a definite type is set, coercion can be done)
            SIMPLE
            ENCAPSULATED
            TABLE

        Indefinite: (if an indefinite type is set, coercion is left to children)
            INHERITED
            UNKNOWN
    
    State class member structure:
        + context (-> String)
        + coercionInstructions (-> Dictionary<String, String>)

    OperatorHandler class member structure:
        + print(state, arguments) (State, Dictionary<String, any> -> String)

    Operator class member structure:
        + print(state, arguments) (State, Dictionary<String, any> -> String)
        + dataType (-> DataType)
#}

{% import '_macros_sparksql' as _macros_sparksql %}

{# MACROS FILE CONTENTS #}

{# Utility functions for dataType conversions #}
{% macro coerce(originalType, targetType, state, arguments) %}
    {% if targetType == 'ENCAPSULATED' %}
        {% if originalType == 'SIMPLE' %}
            {{ _macros_sparksql.Encapsulate(arguments['class'].print(state, arguments)) }}
        {% elif originalType == 'TABLE' %}
            {{ _macros_sparksql.Collect(context, arguments['class'].print(state, arguments)) }}
        {% else %}
            {{ expression }}
        {% endif %}
    {% elif targetType == 'TABLE' %}
        {% if originalType == 'ENCAPSULATED' %}
            {{ _macros_sparksql.Decollect(context, arguments['class'].print(state, arguments)) }}
        {% else %}
            {{ arguments['class'].print(state, arguments) }}
        {% endif %}
    {% else %}
        {{ arguments['class'].print(state, arguments) }}
    {% endif %}
{% endmacro %}
{% macro printCoercingIfApplicable(state, arguments) %}
    {% if (state != none) and (state.coercionInstructions != none) and (state.coercionInstructions[arguments['class'].dataType] != none) %}
        {{ coerce(arguments['class'].dataType, state.coercionInstructions[arguments['class'].dataType], state, arguments) }}
    {% else %}
        {{ class.print(state, arguments) }}
    {% endif %}
{% endmacro %}

{# Namespace that handles printing operators #}
{% set OperatorHandler = namespace() %}
{% set OperatorHandler.print = printCoercingIfApplicable %}

{# Namespace for Literal operator #}
{% set Literal = namespace() %}
{% set Literal.dataType = 'SIMPLE' %}
{% macro printLiteral(state, arguments) %}{% if arguments['type'] == 'Integer' %}{{ arguments['value'] }}{% elif arguments['type'] == 'String' %}'{{ arguments['value'] }}'{% else %}{{ arguments['type'] }}::{{ arguments['value'] }}{% endif %}{% endmacro %}
{% set Literal.print = printLiteral %}

{# Namespace for ExpressionDef operator #}
{% set ExpressionDef = namespace() %}
{% set ExpressionDef.dataType = 'INHERITED' %}
{% macro printExpressionDef(state, arguments) %}
    {% if state.context == none and arguments['context'] != none %}
        {% set state.context = arguments['context'] %}
    {% endif %}
    {{ OperatorHandler.print(state, arguments['value'])}}{% endmacro %}
{% set ExpressionDef.print = printExpressionDef %}

{# LIBRARY FILE CONTENTS #}

{# default inclusion #}
{% set state = namespace() %}
{% set state.coercionInstructions = {} %}

{# define testExpr: 1#}
{% macro testExpr(state) %}
    {{ OperatorHandler.print(state, { 'class': ExpressionDef, 'context':'Unfiltered', 'name':'testExpr', 'value':{'class': Literal, 'type':'Integer', 'value':1} } ) }}
{% endmacro %}

{# TESTING #}

{# define testExpr1 #}
{{ testExpr(state) }}

{# SELECT 1 _val #}
{% set state.coercionInstructions = {'SIMPLE':'ENCAPSULATED', 'TABLE':'ENCAPSULATED'} %}
{{ testExpr(state) }}