
{#
    Environment prerequisites:
        * OperatorClass.j2
        * DataTypeEnum.j2
#}
{% from "jinja_transpilation_libraries/sparksql/default/globals/OperatorHandlerStaticVariable.j2" import OperatorHandlerStaticVariableInit %}
{% from "jinja_transpilation_libraries/sparksql/default/ExpressionDefStaticVariable.j2" import ExpressionDefStaticVariableInit %}
{% from "jinja_transpilation_libraries/sparksql/default/SingletonFromStaticVariable.j2" import SingletonFromStaticVariableInit %}
{% from "jinja_transpilation_libraries/sparksql/RetrieveCustomOverride.j2" import RetrieveCustomOverrideInit %}

{%- set environment = namespace() %}

{%- macro TestOutputInit(environment) %}
{%-     do ExpressionDefStaticVariableInit(environment) %}
{%-     do SingletonFromStaticVariableInit(environment) %}
{%-     do RetrieveCustomOverrideInit(environment) %}
{%- endmacro %}

{%- do TestOutputInit(environment) %}

{% macro TestOutputPatient(environment, state) %}{{ environment.OperatorHandler.print(environment, environment.OperatorHandler, state, { 'operator': environment.ExpressionDef, 'context': 'Patient', 'name': 'Patient', 'child': { 'operator': environment.SingletonFrom, 'child': { 'operator': environment.Retrieve, 'modelType': 'urn:healthit-gov:qdm:v5_6', 'templateId': 'Patient', 'resultTypeLabel': none, 'codeComparator': none, 'codeProperty': none, 'child': none, 'valueSet': none } } }) }}{% endmacro %}

{{ TestOutputPatient(environment, none) }}